.body {
    background-color:grey;
}

.wrapper {
    display: flex;
    justify-content: center;
    margin-top: 10%;
}

.profileForm {
    background-color: #ffffff;
    border-radius: 4px;
    border: 1px solid #dbe2ec;
    width: 350px;
    text-align: center;
    cursor: pointer;
}

.profileForm:hover {
    box-shadow: 4px 4px 2px 1px rgba(210, 210, 210, 0.14);
}

.userInfo {
    padding: 20px 20px 10px 20px;
}

.socialInfo {
 background-color: #f3f6f9;
 border-radius: 0 0 4px 4px;
}

.avatar {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.userName {
    color: #20344a;
    font-size: 24px;
}

.info {
    color: #818f9e;
    padding: 0 0 10px 0 ;
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
}

li {
    border-top: 1px solid #dbe2ec;
    border-left: 1px solid #dbe2ec;
    width: 100%;
    padding: 10px;
    color: #818f9e;
    margin-left: -1px;
}

.count {
    display: block;
    font-weight:bold;
    color: #20344a;
}